

  .btn-update {
    background-color: #adb5bd; /* neutral gray */
    color: white;
    border: none;
    box-shadow: 2px 4px 6px #ffffff; /* soft white shadow */
    border-radius: 6px;
    padding: 10px 16px;
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 50px; /* pill shape */
  
  }
  
  .btn-update:hover {
    background-color: #6c757d;
    transform: translateY(-1px);
    color: white;
    border-radius: 50px; /* pill shape */
  
  }
